[user]
    email = askedrelic@gmail.com
    name  = Matt Behrens
[color]
    pager = true
    ui    = auto
[color "branch"]
    current = yellow reverse
    local   = yellow
    remote  = green
[color "diff"]
    meta       = yellow bold
    frag       = magenta bold
    old        = red bold
    new        = green bold
    whitespace = red reverse
[color "status"]
    added     = yellow
    changed   = green
    untracked = cyan
[core]
    #Only 1.6.6 allows ~ references
    excludesfile = ~/.gitignore
    whitespace   = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    quotepath    = false
[alias]
    st = status
    ci = commit -v
    cm = commit -m
    br = branch
    co = checkout
    ls = ls-files
    dt = difftool

    #figure out what a revision is
    human = name-rev --name-only --refs=refs/heads/*

    #simple log with branches
    #git > 1.6
    hist = log --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset (%Cgreen%cr%Creset) %s [%Cblue%an%Creset]' --graph --abbrev-commit --date=relative
    histflat = log --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset (%Cgreen%cr%Creset) %s [%Cblue%an%Creset]' --abbrev-commit --date=relative --date-order --no-merges

    histpatch = log -p --abbrev-commit --date=relative
    histstat = log -M --summary --stat --abbrev-commit --date=relative --no-merges --date-order

    logstat = log -M --summary --stat --date=relative --abbrev-commit --no-merges --date-order
    logpatch = log -p --date=relative --abbrev-commit --no-merges --date-order
    logword = log -p --date=relative --abbrev-commit --word-diff --no-merges --date-order

    #diff
    staged = diff --cached --word-diff
    unstaged = diff --patience --word-diff
    both = diff HEAD --word-diff

    changes=diff --name-status -r
    diffstat=diff --stat -r
    ds=diff --stat -r

    type = cat-file -t
    dump = cat-file -p
[pack]
    threads = 0
[branch]
    autosetupmerge = true
[diff]
    # tool = gitvimdiff
    ; guitool = opendiff
[difftool]
    prompt = false
[pager]
    diff =
[github]
    user = askedrelic
