# ignore common files not needed under revision control
mbox
.aptitude/
.DS_Store
.rnd
.gem
.gemrc
.addressbook
.htoprc
.heroku
.neocon/

.pinerc
.viminfo
.vim/.netrwhist
.vimfuzzyfinder
.bash_history
.mysql_history
.bash_local
.autojump_errors
.autojump_py
.autojump_py.bak

*.pyc
*.swp

# ignore sensitive files
.ssh*
.agent.env

# ignore common directories
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Projects/
Public/
Sites/
Sources/
Code/
code/
src/
mail/
.ipython/
.rvm/
 
# ignore my OSX homedir
Dropbox/
TMPpref
backups/
.NERDTreeBookmarks
.cache/
.config/
.cpan/
.cups/
.dropbox/
.fontconfig/
.fonts.cache-1
.gdb_history
.gitk
.gstreamer-0.10/
.gtk-bookmarks
.irb_history
.lesshst
.mplayer/
.nbprofiler/
.netbeans/
.spumux/
.sqlite_history
.svk/
.termtter/
.thumbnails/
.Trash
.MacOSX
.parallels/
.virtualenvs/
.yolk/
.local/
.pythonbrew/*
.venvburrito/*
