[submodule "vim/vim.symlink/bundle/vim-git"]
	path = vim/vim.symlink/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/vim.symlink/bundle/vim-markdown"]
	path = vim/vim.symlink/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/vim.symlink/bundle/vim-ctrlp"]
	path = vim/vim.symlink/bundle/vim-ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim.symlink/bundle/vim-tabular"]
	path = vim/vim.symlink/bundle/vim-tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/vim.symlink/bundle/vim-pasta"]
	path = vim/vim.symlink/bundle/vim-pasta
	url = git://github.com/sickill/vim-pasta.git
[submodule "vim/vim.symlink/bundle/vim-fugitive"]
	path = vim/vim.symlink/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/vim-nerdtree-tabs"]
	path = vim/vim.symlink/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim/vim.symlink/bundle/vim-nerdtree"]
	path = vim/vim.symlink/bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundle/vim-rainbowparens"]
	path = vim/vim.symlink/bundle/vim-rainbowparens
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/vim.symlink/bundle/vim-syntastic"]
	path = vim/vim.symlink/bundle/vim-syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/vim.symlink/bundle/tagbar"]
	path = vim/vim.symlink/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/vim.symlink/bundle/nerdcommenter"]
	path = vim/vim.symlink/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim/vim.symlink/bundle/ctagloader"]
	path = vim/vim.symlink/bundle/ctagloader
	url = git://github.com/vim-scripts/ctagloader.git
[submodule "vim/vim.symlink/bundle/surround"]
	path = vim/vim.symlink/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/vim.symlink/bundle/ack.vim"]
	path = vim/vim.symlink/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/vim.symlink/bundle/supertab"]
	path = vim/vim.symlink/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/vim.symlink/bundle/cocoa.vim"]
	path = vim/vim.symlink/bundle/cocoa.vim
	url = git://github.com/msanders/cocoa.vim.git
[submodule "vim/vim.symlink/bundle/easymotion"]
	path = vim/vim.symlink/bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/vim.symlink/bundle/gitgutter"]
	path = vim/vim.symlink/bundle/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/vim.symlink/bundle/matchtag"]
	path = vim/vim.symlink/bundle/matchtag
	url = https://github.com/gregsexton/MatchTag
[submodule "vim/vim.symlink/bundle/vim-airline"]
	path = vim/vim.symlink/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/vim.symlink/bundle/ag"]
	path = vim/vim.symlink/bundle/ag
	url = https://github.com/rking/ag.vim
[submodule "vim/vim.symlink/bundle/expand-region"]
	path = vim/vim.symlink/bundle/expand-region
	url = https://github.com/terryma/vim-expand-region
[submodule "vim/vim.symlink/bundle/splitjoin"]
	path = vim/vim.symlink/bundle/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule "vim/vim.symlink/bundle/vinegar"]
	path = vim/vim.symlink/bundle/vinegar
	url = https://github.com/dhruvasagar/vim-vinegar
[submodule "vim/vim.symlink/bundle/vim-css-color"]
	path = vim/vim.symlink/bundle/vim-css-color
	url = https://github.com/ap/vim-css-color
