[user]
    email = "askedrelic@gmail.com"
    name = "Matt Behrens"
[color]
    pager = true
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[core]
    #Only 1.6.6 allows ~ references
	excludesfile = ~/.gitignore
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[alias]
    st = status
    ci = commit -v
    cm = commit -m
    br = branch
    co = checkout
    ls = ls-files
    dt = difftool
   
    #figure out what a revision is
    human = name-rev --name-only --refs=refs/heads/*

    #simple log with branches
    #git 1.5
    # lg = log --graph --pretty=format:'%Cred%h%Creset - %s %Cgreen(%an, %cr)%Creset' --abbrev-commit --date=relative
    #git 1.6
    lg = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %Cblue%an%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

    logstat = log -M --summary --stat --date=relative --abbrev-commit
    logpatch = log -p --date=relative --abbrev-commit
    logword = log -p --date=relative --abbrev-commit --word-diff

    #diff
    staged = diff --cached --word-diff
    unstaged = diff --patience --word-diff
    both = diff HEAD --word-diff

    changes=diff --name-status -r
    diffstat=diff --stat -r
    last = show HEAD
[pack]
    threads = 0
[branch]
    autosetupmerge = true
[difftool]
    prompt = false
[github]
    user = askedrelic
