[user]
	email = askedrelic@loki.rh.rit.edu
	name = askedrelic
[color]
        pager = true
        ui = auto

[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    log = log -M --summary --stat --date=relative --abbrev-commit
    st = status
    last  = cat-file commit HEAD
    st    = ls-files --exclude-per-directory=.gitignore \
                    --exclude-from=.git/info/exclude \
                    -t -o -u -s -m -d

