# ignore common files not needed under revision control
*.pyc
*.swp
var
mbox
.bash_history
.htoprc
.vimfuzzyfinder
.rnd
.viminfo
.mysql_history
.irssi/
.aptitude/
 
# ignore sensitive files
.ssh
.agent.env
 
# ignore OSX/linux stuff
*._*
.DS_Store
.Trash
.MacOSX
.subversion
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Projects/
Public/
Sites/
Sources/
Code/
code/
src/
public_html/
 
# ignore anything else
.gem
